/* Kalender Styles */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: var(--border-radius-md); /* Rounded corners for calendar */
    overflow: hidden;
}

.calendar-day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

.calendar-day.other-month {
    background-color: #918c8c;
}

.calendar-day.today {
    background-color: #4d9bc2;
    font-weight: bold;
}

.calendar-day.has-vacation {
    background-color: #ecaa54;
}

.calendar-day.has-holiday {
    background-color: #58a763;
}

.list-group-item {
    position: relative;
    padding-right: 4rem;
    border-radius: var(--border-radius-sm); /* Rounded corners */
    margin-bottom: 2px;
}

.vacation-actions {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.calendar-weekday {
    flex: 1;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.d-flex.mb-2 {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
}

.weekday-workday {
    color: #00bcd4;
}

.weekday-weekend {
    color: #FF3B3B;
}
